@using System.Data;
@model DataTable;
@{
    int i = 1;
    ViewData["Title"] = "MST_StudentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>Data Tables</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Student</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="card px-3 py-3">

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10">
                <h1>Student List</h1>
            </div>
            <form method="post" asp-controller="MST_Student" asp-area="MST_Student" asp-action="Search">
                <div class="row">
                    <div class="col">
                        <label>
                            Search by Student Name
                            <input type="text" class="form-control input-sm input-small input-inline" value="@ViewBag.StudentName" name="StudentName" placeholder="Student Name" id="" aria-controls="" />
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            Search by Branch Name
                            <select class="form-select input-sm input-small input-inline" asp-items="@(new SelectList(ViewBag.BranchList,"BranchID","BranchName"))" value="@ViewBag.BranchName" name="BranchName" placeholder="Branch Name" id="" aria-controls="">
                                <option>Select Branch Name</option>
                            </select>
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            Search by Email
                            <input type="text" class="form-control input-sm input-small input-inline" value="@ViewBag.Email" name="Email" placeholder="Email" id="" aria-controls="" />
                        </label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label>
                            Search by Address
                            <input type="text" class="form-control input-sm input-small input-inline" value="@ViewBag.Address" name="Address" placeholder="Address" id="" aria-controls="" />
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            Search by Age
                            <input type="text" class="form-control input-sm input-small input-inline" value="@ViewBag.Age" name="Age" placeholder="Age" id="" aria-controls="" />
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            Search by Gender
                            <input type="text" class="form-control input-sm input-small input-inline" value="@ViewBag.Gender" name="Gender" placeholder="Gender" id="" aria-controls="" />
                        </label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label>
                            Search by Country Name
                            <select class="form-select form-input-sm" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))" name="CountryID" onchange="fnOnCountryChange()" placeholder="CityName" id="CountryID" aria-controls="">
                                <option>Select Country Name</option>
                            </select>
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            Search by State Name
                            <select class="form-select form-input-sm" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))" name="StateID" onchange="fnOnStateChange()" placeholder="StateName" id="StateID" aria-controls="">
                                <option>Select State Name</option>
                            </select>
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            Search by City Name
                            <select class="form-select form-input-sm" asp-items="@(new SelectList(ViewBag.Citylist,"CityID","CityName"))" name="CityID" placeholder="CityName" id="CityID" aria-controls="">
                                <option>Select City Name</option>
                            </select>
                        </label>
                    </div>
                </div>
                <br/>
                <input type="submit" class="btn btn-primary" />
                <input type="reset" class="btn btn-secondary" asp-action="Index" asp-controller="MST_Student" />
            </form>
        </div>
       
    </div>
</div>
<br />

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col-2">
                            <h2 class="card-title">Student List</h2>
                        </div>
                        <div class="col-2 text-end">
                            <a asp-controller="MST_Student" asp-area="MST_Student" asp-action="Add" class="btn btn-success mt-3">Add</a>
                        </div>
                    </div>
                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col">Sr</th>
                                <th scope="col">Student Name</th>
                                <th scope="col">Student Mobile No</th>
                                <th scope="col">Email</th>
                                <th scope="col">FatherMobile</th>
                                <th scope="col">Address</th>
                                <th scope="col">IsActive</th>
                                <th scope="col">Branch Name</th>
                                <th scope="col">City Name</th>
                                <th scope="col">Password</th>
                                <th scope="col">BirthDate</th>
                                <th scope="col">Created</th>
                                <th scope="col">Modified</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="sample_2">
                            @{
                                if (Model.Rows.Count > 0)
                                {
                                    foreach (DataRow dr in Model.Rows)
                                    {
                                        <tr>
                                            <th scope="row">@i</th>
                                            <td>@dr["StudentName"]</td>
                                            <td>@dr["MobileNoStudent"]</td>
                                            <td>@dr["Email"]</td>
                                            <td>@dr["MobileNoFather"]</td>
                                            <td>@dr["Address"]</td>
                                            <td>@dr["IsActive"]</td>
                                            <td>@dr["BranchName"]</td>
                                            <td>@dr["CityName"]</td>
                                            <td>@dr["Password"]</td>
                                            <td>@Convert.ToDateTime(dr["BirthDate"]).ToString("dd-MM-yyyy")</td>
                                            <td>@Convert.ToDateTime(dr["Created"]).ToString("dd-MM-yyyy")</td>
                                            <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>
                                            <td>
                                                <form method="post" asp-controller="MST_Student" asp-area="MST_Student" asp-action="Delete">
                                                    <a class="btn btn-success" asp-controller="MST_Student" asp-area="MST_Student" asp-action="Edit" asp-route-CountryID="@Convert.ToInt32(dr["StudentID"])">
                                                        <i class="bi bi-pen"></i>
                                                    </a>
                                                    <input type="hidden" name="StudentID" value="@Convert.ToInt32(dr["StudentID"])" />
                                                    <button type="submit" class="btn btn-danger" onclick="return fun1();"><i class="bi bi-trash"></i></button>

                                                </form>
                                            </td>
                                        </tr>
                                        i++;
                                    }

                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <p class="col-form-label">No Record Found</p>
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>

                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>
@section Scripts
    {
    <script>
        // $(document).ready(function () {
        //     $("#sample_1").on("keyup", function () {
        //         var value = $(this).val().toLowerCase();
        //         $("#sample_2 tr").filter(function () {
        //             $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        //         });
        //     });
        // });


        function fun1() {
            if (confirm("Are you sure you want to delete?")) {
                return true;
            }
            else {
                return false;
            }
        }

        function fnOnCountryChange() {
            var CountryID = $("#CountryID").val();
            if (CountryID !== "") {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("StateDropDown", "MST_Student")" + "?&CountryID=" + CountryID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            $.each(Result,
                                function (key, value) {

                                    $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                                });
                        },
                        error: function (err) {
                            console.log(err);
                            alert("Error while loading combobox.");
                        }
                    });
            } else {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
            }
        }
        function fnOnStateChange() {
            var StateID = $("#StateID").val();
            if (StateID !== "") {
                $("#CityID").empty();
                $("#CityID").append($("<option></option>").val("").html("Select City"));

                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("CityDropDown", "MST_Student")" + "?&StateID=" + StateID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            $.each(Result,
                                function (key, value) {

                                    $("#CityID").append($("<option></option>").val(value.cityID).html(value.cityName));
                                });
                        },
                        error: function (err) {
                            console.log(err);
                            alert("Error while loading combobox.");
                        }
                    });
            } else {

                $("#CityID").empty();
                $("#CityID").append($("<option></option>").val("").html("Select City"));
            }
        }

    </script>
}


@* ============================================================================================= *@

@* <div class="col-md-12">
    <div class="row">
        <div class="col-md-10">
            <h1>Student List</h1>
        </div>
        <form method="post" asp-controller="MST_Student" asp-area="MST_Student" asp-action="Search">
            <div class="row">
                <div class="col">
                    <label>
                        Search by Student Name
                        <input type="text" class="form-control input-sm input-small input-inline" value="@ViewBag.StudentName" name="StudentName" placeholder="Student Name" id="" aria-controls="" />
                    </label>
                </div>
                <div class="col">
                    <label>
                        Search by Branch Name
                        <select class="form-control input-sm input-small input-inline" asp-items="@(new SelectList(ViewBag.BranchList,"BranchID","BranchName"))" value="@ViewBag.BranchName" name="BranchName" placeholder="Branch Name" id="" aria-controls="">
                            <option>Select Branch Name</option>
                        </select>
                    </label>
                </div>
                <div class="col">
                    <label>
                        Search by Email
                        <input type="text" class="form-control input-sm input-small input-inline" value="@ViewBag.Email" name="Email" placeholder="Email" id="" aria-controls="" />
                    </label>
                </div>

                <div class="col">
                    <label>
                        Search by Address
                        <input type="text" class="form-control input-sm input-small input-inline" value="@ViewBag.Address" name="Address" placeholder="Address" id="" aria-controls="" />
                    </label>
                </div>
                <div class="col">
                    <label>
                        Search by Age
                        <input type="text" class="form-control input-sm input-small input-inline" value="@ViewBag.Age" name="Age" placeholder="Age" id="" aria-controls="" />
                    </label>
                </div>

                <div class="col">
                    <label>
                        Search by Gender
                        <input type="text" class="form-control input-sm input-small input-inline" value="@ViewBag.Gender" name="Gender" placeholder="Gender" id="" aria-controls="" />
                    </label>
                </div>
                <div class="col">
                    <label>
                        Search by Country Name
                        <select class="form-control form-input-sm" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))" name="CountryID" onchange="fnOnCountryChange()" placeholder="CityName" id="CountryID" aria-controls="">
                            <option>Select Country Name</option>
                        </select>
                    </label>
                </div>
                <div class="col">
                    <label>
                        Search by State Name
                        <select class="form-control form-input-sm" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))" name="StateID" onchange="fnOnStateChange()" placeholder="StateName" id="StateID" aria-controls="">
                            <option>Select State Name</option>
                        </select>
                    </label>
                </div>
                <div class="col">
                    <label>
                        Search by City Name
                        <select class="form-control form-input-sm" asp-items="@(new SelectList(ViewBag.Citylist,"CityID","CityName"))" name="CityID" placeholder="CityName" id="CityID" aria-controls="">
                            <option>Select City Name</option>
                        </select>
                    </label>
                </div>
            </div>

            <input type="submit" />
            <input type="reset" />
        </form>
    </div>
    <div>
        <div id="sample_1_filter">
            <label>
                Search
                <input type="text" class="form-control input-sm input-small input-inline" placeholder="" id="sample_1" aria-controls="sample_1" />
            </label>
        </div>
        <a asp-controller="MST_Student" asp-area="MST_Student" asp-action="Add" class="btn btn-success col-4">Add</a>
    </div>
</div>


<table class="table" id="sample_1">

    <thead>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Student Mobile No</th>
            <th>Email</th>
            <th>FatherMobile</th>
            <th>Address</th>
            <th>IsActive</th>
            <th>Branch Name</th>
            <th>City Name</th>
            <th>Password</th>
            <th>BirthDate</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="sample_2">
        @{
            if (Model.Rows.Count > 0)
            {
                foreach (DataRow dr in Model.Rows)
                {
                    <tr>
                        <td>@dr["StudentID"]</td>
                        <td>@dr["StudentName"]</td>
                        <td>@dr["MobileNoStudent"]</td>
                        <td>@dr["Email"]</td>
                        <td>@dr["MobileNoFather"]</td>
                        <td>@dr["Address"]</td>
                        <td>@dr["IsActive"]</td>
                        <td>@dr["BranchName"]</td>
                        <td>@dr["CityName"]</td>
                        <td>@dr["Password"]</td>
                        <td>@Convert.ToDateTime(dr["BirthDate"]).ToString("dd-MM-yyyy")</td>
                        <td>@Convert.ToDateTime(dr["Created"]).ToString("dd-MM-yyyy")</td>
                        <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>
                        <td>
                            <form method="post" asp-controller="MST_Student" asp-area="MST_Student" asp-action="Delete">
                                <input type="hidden" name="StudentID" value="@Convert.ToInt32(dr["StudentID"])" />
                                <button type="submit" class="btn btn-danger" onclick="return fun1();">Delete</button>
                                <a class="btn btn-success" asp-controller="MST_Student" asp-area="MST_Student" asp-action="Edit" asp-route-StudentID="@Convert.ToInt32(dr["StudentID"])">Edit</a>
                            </form>

                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">
                        <p class="col-form-label">No Record Found</p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });


        function fun1() {
            if (confirm("Are you sure you want to delete?")) {
                return true;
            }
            else {
                return false;
            }
        }

        function fnOnCountryChange() {
            var CountryID = $("#CountryID").val();
            if (CountryID !== "") {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("StateDropDown", "MST_Student")" + "?&CountryID=" + CountryID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            $.each(Result,
                                function (key, value) {

                                    $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                                });
                        },
                        error: function (err) {
                            console.log(err);
                            alert("Error while loading combobox.");
                        }
                    });
            } else {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
            }
        }
        function fnOnStateChange() {
            var StateID = $("#StateID").val();
            if (StateID !== "") {
                $("#CityID").empty();
                $("#CityID").append($("<option></option>").val("").html("Select City"));

                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("CityDropDown", "MST_Student")" + "?&StateID=" + StateID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            $.each(Result,
                                function (key, value) {

                                    $("#CityID").append($("<option></option>").val(value.cityID).html(value.cityName));
                                });
                        },
                        error: function (err) {
                            console.log(err);
                            alert("Error while loading combobox.");
                        }
                    });
            } else {

                $("#CityID").empty();
                $("#CityID").append($("<option></option>").val("").html("Select City"));
            }
        }

    </script>
} *@